{% extends "_layout.html" %} {% block content %}

<!-- Main -->
<section id="main" class="container">
  <header>
    <h1 class="b f1">Khabin Privacy Policy</h1>
    <p class="measure center">
      This policy applies to all information collected or submitted on Khabin’s website and our apps for iPhone and any
      other devices and platforms.
    </p>
  </header>
  <div class="ph4 ph0-ns">
    <section class="box">
      <h2>Information we collect</h2>
      <p class="lh-copy">New Khabin accounts are created anonymously, without email addresses or passwords.</p>
      <p class="lh-copy">
        We store information about your reading listening progress to sync this information between the website and your
        devices. We also collect anonymous statistics about which articles are most popular to help inform our
        recommendation engine.
      </p>
      <h2>iCloud</h2>
      <p class="lh-copy">
        Khabin stores some of your data in Apple’s iCloud service to enable some sync features between all devices signed
        into your Apple ID.
      </p>
      <h2>Ads and analytics</h2>
      <p class="lh-copy">
        Khabin’s app collects aggregate, anonymous statistics, such as the percentage of users who use particular
        features, to improve the app.
      </p>
      <p class="lh-copy">
        No personal data is used to target Khabin’s ads except the categories of articles that you read, such as
        “Technology” or “Business”. Each ad collects, and shares with its advertiser, only three numbers: total views and
        taps.
      </p>
      <h2>Information usage</h2>
      <p class="lh-copy">
        We use the information we collect to operate and improve our website, apps, and customer support.
      </p>
      <p class="lh-copy">
        We do not share personal information with outside parties except to the extent necessary to accomplish Khabin’s
        functionality. We may share anonymous, aggregate statistics with outside parties, such as how many people listen
        to a particular podcast with Khabin.
      </p>
      <p class="lh-copy">
        We may disclose your information in response to subpoenas, court orders, or other legal requirements; to exercise
        our legal rights or defend against legal claims; to investigate, prevent, or take action regarding illegal
        activities, suspected fraud or abuse, violations of our policies; or to protect our rights and property.
      </p>
      <p class="lh-copy">
        In the future, we may sell to, buy, merge with, or partner with other businesses. In such transactions, user
        information may be among the transferred assets.
      </p>
      <h2>California Online Privacy Protection Act Compliance</h2>
      <p class="lh-copy">
        We comply with the California Online Privacy Protection Act. We therefore will not distribute your personal
        information to outside parties without your consent.
      </p>
      <h2>Children’s Online Privacy Protection Act Compliance</h2>
      <p class="lh-copy">
        We never collect or maintain information at our website from those we actually know are under 13, and no part of
        our website is structured to attract anyone under 13.
      </p>
      <h2>Information for European Union Customers</h2>
      <p class="lh-copy">
        By using Khabin and providing your information, you authorize us to collect, use, and store your information
        outside of the European Union.
      </p>
      <h2>Your Consents</h2>
      <p class="lh-copy">By using our site or apps, you consent to our privacy policy.</p>
      <h2>Contacting Us</h2>
      <p class="lh-copy">
        If you have questions regarding this privacy policy, you may email
        <a href="/cdn-cgi/l/email-protection#92e2e0fbe4f3f1ebd2f9faf3f0fbfcf3e2f3e2bcf1fdff"
          ><span class="__cf_email__" data-cfemail="7505071c0314160c351e1d14171c1b140514055b161a18"
            >[email&#160;protected]</span
          ></a
        >. Please note that account deletion should be done within the Khabin app, not via email requests, for security
        reasons.
      </p>
      <h2>Changes to this policy</h2>
      <ul>
        <li><b>November 26, 2020</b>: First published.</li>
      </ul>
    </section>
  </div>
</section>

{% endblock %}
